/* TOC page */

.toc-level {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.toc-level li {
  margin: 0.3em 0;
}

.toc-level-1 > li {
  font-weight: 600;
  margin-top: 1em;
}

.toc-level-2 {
  padding-left: 1.5em;
  font-weight: 500;
}

.toc-level-3 {
  padding-left: 1.5em;
  font-weight: 400;
  font-size: 0.95em;
}

.toc-level a {
  text-decoration: none;
}

.toc-level a:hover {
  text-decoration: underline;
}
