---
--- 

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}", "minima/initialize";

body {
  background-color: #242325;
}

h1 {
  color: #DC965A;
}

h2 {
  color: #FFFFFA;
}

a {
  color: #247B7B;
}

a:visited {
  color: #78CDD7;
}
